* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}


.header {
  padding: 50px;
  text-align: center;
  background-color: chocolate;
  color: aliceblue;
}


.navbar a:hover{
  background-color: orange;
  text-decoration: underline;
}


.fakeimg {
  height: 60px;
  border: 1px solid black;
  background-color: gray;
  padding: 20px;
}



.row{
  margin:10px;
}

.footer{
 
  background-color: gray ;
  align-items: center;
  text-align: center;
  width: 100%;
    height: 200px;
    padding: 75px;
}






.navbar-item:hover {
  background-color: orange;
  text-decoration: underline;
 
 
    color: rgb(248, 248, 248);
}

.navbar-item{
  padding: 10px;
    width: 100%;
    text-align: center;
}

.navbar {
  background-color: black;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar a {
  text-decoration: none;
    color: rgb(255, 255, 255);
  }